name: CloudFit CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install
        working-directory: ./cloudfit

      - name: Build da imagem Docker
        run: |
          docker build -t cloudfit:1.0 .
        working-directory: ./cloudfit

      - name: Login no Docker Hub (simulado)
        run: echo "Login no registry realizado"

      - name: Push da imagem (simulado)
        run: echo "Imagem enviada para o registry"

      - name: Deploy no Kubernetes (conceitual)
        run: |
          echo "Aplicando manifests Kubernetes"
          echo "kubectl apply -f k8s/"
